<a href="https://colab.research.google.com/github/alulec/edd_1358_2021/blob/master/12Octubre_1358.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# diccionarios (continuacion)
cliente_banco = {
                "id":1,
                "Nombres": ["Juan", "Antonio"],
                "Paterno": "Garcia",
                "Materno": "Perez",
                "Telefonos":{
                     "Casa": 2535126498,
                     "Celular": 5526481934,
                     "Trabajo": 6215497861
                 },
                 "Activo": True,
                 "Balance": 234567.89,
                 "Tarjetas": ({"Tipo": "Debito", "Saldo": 12000},
                              {"Tipo": "Debito", "Saldo": 3500})
                }
print(cliente_banco)

cliente_banco["Balance"] -= 1000.89
print(cliente_banco)

cliente_banco["Tarjetas"] = ({"Tipo": "Debito", "Saldo": 12000},
                             {"Tipo": "Debito", "Saldo": 3500},
                             {"Tipo": "Credito", "Nivel": "Oro", "Saldo": 50000}
                             )
print(cliente_banco)
cliente_banco["Direccion"] = {
                            "Calle": "Rancho Seco", "Num.": 23
                            }
print(cliente_banco)
cliente_banco.pop("Tarjetas")
print(cliente_banco)

In [16]:
llaves = cliente_banco.keys()
print(llaves)
print(type(llaves))
for x in llaves:
    print(x)
valores = cliente_banco.values()
for v in valores:
    print(v)
pares = cliente_banco.items()
print(pares)
for elem in pares:
    print(f"{elem[0]} = {elem[1]} ")

dict_keys(['id', 'Nombres', 'Paterno', 'Materno', 'Telefonos', 'Activo', 'Balance', 'Direccion'])
<class 'dict_keys'>
id
Nombres
Paterno
Materno
Telefonos
Activo
Balance
Direccion
1
['Juan', 'Antonio']
Garcia
Perez
{'Casa': 2535126498, 'Celular': 5526481934, 'Trabajo': 6215497861}
True
233567.0
{'Calle': 'Rancho Seco', 'Num.': 23}
dict_items([('id', 1), ('Nombres', ['Juan', 'Antonio']), ('Paterno', 'Garcia'), ('Materno', 'Perez'), ('Telefonos', {'Casa': 2535126498, 'Celular': 5526481934, 'Trabajo': 6215497861}), ('Activo', True), ('Balance', 233567.0), ('Direccion', {'Calle': 'Rancho Seco', 'Num.': 23})])
id = 1
Nombres = ['Juan', 'Antonio']
Paterno = Garcia
Materno = Perez
Telefonos = {'Casa': 2535126498, 'Celular': 5526481934, 'Trabajo': 6215497861}
Activo = True
Balance = 233567.0
Direccion = {'Calle': 'Rancho Seco', 'Num.': 23}

In [18]:
fruta = {"Nombre": "Manzana", "Color": "Rojo", "Estado": "Chihuahua"}
otras_caracteristicas = {"Vitamina": "D"}
fruta.update(otras_caracteristicas)
print(fruta)

{'Nombre': 'Manzana', 'Color': 'Rojo', 'Estado': 'Chihuahua', 'Vitamina': 'D'}

# Funciones
- recibe de 0 a n argumentos de entrada
- y regresa almenos un valor, aunque ese valor sea None.
- Tiene un nombre unico en el texto.
- se pueden hacer solo dos cosas con 
funciones:
    - definirla
    - llamarla

In [20]:
def suma(a,b):
    return a + b

def saludar():
    print("Hola, como estas")
    return None
x = 10
y = 20
c = suma(x,y)
print(c)
saludar()

30
Hola, como estas

# None y las funciones
Aprovechar el uso de none en paso de parametros

In [23]:
def calcular( base, veces):
    if base != None:
        resultado = base * veces
    else:
        resultado = "Desconocido"
    return resultado

print(calcular(4,3))
print(calcular(None,3))

12
Desconocido