<a href="https://colab.research.google.com/github/alulec/edd_1358_2021/blob/master/26Octubre_1358.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
"""
Array
"""
class Array:
    def __init__(self, tam):
        self.__datos = [0 for x in range(tam)]

    def get_item(self, index):
        dato = 0
        if index >= 0 and index < len(self.__datos):
            dato = self.__datos[index]
        else:
            print("Error en el indice")
        return dato
    
    def set_item(self, dato, index):
        if index >= 0 and index <len(self.__datos):
            self.__datos[index] = dato
        else:
            print("Error en el indice")

    def get_length(self):
        return len(self.__datos)

    def clear(self):
        self.__datos = [dato for x in range(self.__tam)]

    def __iter__(self):
        return _getIterator(self.__datos)


class _getIterator:
    def __init__(self, arreglo ):
        self.__arreglo = arreglo
        self.__indice_actual = 0

    def __iter__( self ):
        return self

    def __next__(self ):
        if self.__indice_actual < len(self.__arreglo):
            dato = self.__arreglo[self.__indice_actual]
            self.__indice_actual += 1
            return dato
        else:
            raise StopIteration

"""
mi_arreglo = Array(10)
print(mi_arreglo.get_item(20))
mi_arreglo.set_item(2345, 3)
print(mi_arreglo.get_item(3))

for x in mi_arreglo:
    print(x)
"""

'\nmi_arreglo = Array(10)\nprint(mi_arreglo.get_item(20))\nmi_arreglo.set_item(2345, 3)\nprint(mi_arreglo.get_item(3))\n\nfor x in mi_arreglo:\n    print(x)\n'

In [9]:
class Empleado:
    def __init__(self, num, nom, pat, mat, he, sb, anio):
        self.__num_trabajador = num
        self.__nombres = nom
        self.__paterno = pat
        self.__materno = mat
        self.__horas_extra = he
        self.__sueldo_base = sb
        self.__anio_ingreso = anio

    def get_noTrabajador(self):
        return self.__num_trabajador

    def set_noTrabajador(self, num):
        self.__num_trabajador = num

    def get_nombre(self):
        return self.__nombres

    def set_nombre(self, nom):
        self.__nombres = nom

    def get_paterno(self):
        return self.__paterno

    def set_paterno(self, pat):
        self.__paterno = pat

    def get_materno(self):
        return self.__materno

    def set_materno(self, mat):
        self.__materno = mat

    def get_horasExtra(self):
        return self.__horas_extra

    def set_horasExtra(self, hora):
        self.__horas_extra += hora

    def get_sueldoBase(Self):
        return self.__sueldo_base

    def set_sueldoBase(self, sueldo):
        self.__sueldo_base = __sueldo

    def get_anioIngreso(self):
        return self.__anio_ingreso

    def set_anioIngreso(Self, anio):
        self.__anio_ingreso = __anio

    def to_string(self):
        return (self.__num_trabajador , self.__nombresself.__paterno ,
                self.__materno , self.__horas_extra , self.__sueldo_base ,
                self.__anio_ingreso)

In [14]:
"""
ADT sueldos encapsula datos de nomina

cargar_datos(ruta_archivo) --> lee archivo y lo acraga a un ADT Array
calcular_sueldos()
reportar_mayor_antiguedad()
reportar_menor_ant()
"""

class Sueldos:
    def __init__(self, ):
        self.__data = None


    def cargar_datos(self, ruta_archivo):
        archivo = open(ruta_archivo, "rt", encoding='latin1')
        lineas = archivo.readlines()
        archivo.close()
        self.data = Array( len(lineas))
        # Mi tarea
        for linea in lineas:
            print(linea)
            # separar campos y casting de algunos campos
            # crear un objeto de empleado
            # ese objeto a self.__data.set_item()
ejemplo = Sueldos()
ejemplo.cargar_datos('/content/junio.dat')

numero de trabajador, nombres, paterno, materno, horas extra, sueldo base, aÃ±o de ingreso

2345,CARLOS,PEREZ,CASTILLO,0,9850,2017

5754,ANGEL,GOMEZ,GARRIDO,1,9850,2020

5345,JESUS,MARTIN,SANTOS,2,9850,2016

3267,DAVID,JIMENEZ,LOZANO,2,9850,2017

8765,PEDRO,RUIZ,GUERRERO,2,9850,2017

5454,DANIEL,HERNANDEZ,CANO,3,9850,2018

3456,ALEJANDRO,DIAZ,PRIETO,2,9850,2018

3445,MARIA,MORENO,MENDEZ,1,9850,2018

9088,ALBERTO,MUOZ,CRUZ,1,9850,2017

8877,RAFAEL,ALVAREZ,FLORES,2,9850,2017

6767,FERNANDO,ROMERO,HERRERA,4,9850,2019

5654,PABLO,ALONSO,GALLEGO,1,9850,2019

4323,JORGE,GUTIERREZ,MARQUEZ,2,9850,2020

2232,RAMON,NAVARRO,LEON,1,9850,2016

In [ ]:
from google.colab import drive
drive.mount('/content/drive')